# IDE CONFIGURATION
.idea

# UPCOMING CLASS MATERIALS
#/01-Class-Content/01-HTML-Git-CSS
#/01-Class-Content/02-Advanced-CSS
#/01-Class-Content/03-JavaScript
#/01-Class-Content/04-Web-APIs
/01-Class-Content/05-Third-Party-APIs
/01-Class-Content/06-Server-Side-APIs
/01-Class-Content/07-Project-1
/01-Class-Content/08-Project-1-Contd
/01-Class-Content/09-NodeJS
/01-Class-Content/10-OOP
/01-Class-Content/11-Express
/01-Class-Content/12-SQL
/01-Class-Content/13-ORM
/01-Class-Content/14-MVC
/01-Class-Content/15-Project-2
/01-Class-Content/16-Project-2-Contd
/01-Class-Content/17-CS
/01-Class-Content/18-NoSQL
/01-Class-Content/19-PWA
/01-Class-Content/20-React
/01-Class-Content/21-MERN
/01-Class-Content/22-State
/01-Class-Content/23-Project-3
/01-Class-Content/24-Project-3-Contd
/02-Lesson-Plans
/wiki/
/README.md

# DISABLE TO PUSH INSTRUCTOR MATERIALS
*Ins_*

# DISABLE TO PUSH FINAL ANSWERS
#**/Solved/

# CLASS DEMONSTRATION FILE
/demo.js
